body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-div {
    width: 350px;
    height: 350px;
    border: solid;
    display: flex;
    flex-direction: column;
}

.tab-buttons {
    display: flex;
}

.tab-button {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.tab-button.active {
    background-color: #ddd;
}

.tab-content {
    flex: 1;
    padding: 15px;
    display: none;
    text-align: center;
}

.tab-content.active {
    display: block;
}